#header{
  background: white none;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5);
  height: 80px;

  .region-header{

    #block-megencool-branding{

      .site-logo{

        height: 100%;

        img{
          width: 5%;
        }
      }
    }
  }
}
