#navbar{
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;

  .navbar-default{
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
  }

  .navbar-header{
    width: 100%;

    .region-navigation{
      
    }
  }
}
